/* header */
.nav {
  height: calc(var(--base-unit) * 3);
  /* line-height: calc(var(--base-unit) * 3); */
  width: var(--container);
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav h1 {
  margin-right: calc(var(--body) * 2);
}

.menu {
  color: var(--black);
  font-size: var(--body);
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu a {
  display: inline-flex;
  align-items: center;
  padding: 8px 4px;
  color: var(--black);
  font-size: var(--body);
}

.header_banner div {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  gap: var(--base-unit);
  text-align: center;
}

