/* header */
.nav {
  height: calc(var(--base-unit) * 3);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav h1 {
  margin-right: calc(var(--body) * 2);
}

.menu {
  color: var(--black);
  font-size: var(--body);
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu a {
  display: inline-flex;
  align-items: center;
  color: var(--black);
  font-size: var(--body);
}
.menu>li {
  padding: 4px 8px;
  border-radius: var(--border-r);
  transition: background-color 0.3s;
}

.menu>li:hover {
  background: var(--BG-gray);
}
.submenu {
  position: relative;
}
.submenu .arrow_bt_icon {
  color: var(--light-gray);
  font-size: var(--body);
  margin-left: 4px;
}
.submenu_box {
  display: none;
  position: absolute;
  left: -20px;
  top: 100%;
  z-index: 9;
  background: var(--white);
  padding: 20px;
  gap: 0 48px;
  border-radius: var(--border-r);
  min-width: 140px;
  white-space: nowrap;
}
.submenu:hover .submenu_box {
  display: flex; 
}
.submenu:hover .arrow_bt_icon {
  transform: rotate(-180deg);
}
.submenu_box ul {
  display: flex;
  flex-flow: column wrap;
  gap: 8px 0;
}
.submenu_box ul li {
  display: flex;
  align-items: center;
  font-size: var(--body);
}
.submenu_box ul li:first-of-type {
  color: var(--light-gray);
  font-size: var(--desc);
  margin-bottom: 4px;
}
.submenu_box ul li a:hover {
  text-decoration: underline;
}

.menu_label {
  margin-left: 8px;
  padding: 4px;
  border-radius: var(--border-r);
}
.ai_quant {
  color: var(--white);
  background: #D29B5A;
}

/* header banner */
.header_banner {
  background: var(--primary);
  color: var(--white);
}
.header_banner .container {
  position: relative;
}
.header_banner .container:after {
  content: url('../images/header-img.png');
  position: absolute;
  right: 0;
  bottom: -24px;
  width: 204px;
  height: 204px;
}

.header_label {
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--white);
  border-radius: var(--border-r);
  padding: 16px 24px;
}


/* contents */

/* edu */
section > div {
  display: flex;
  flex-flow: column wrap;
  gap: var(--base-unit);
}
.edu_list {
  display: flex;
  flex-flow: column wrap;
  gap: var(--body) 0;
  width: 100%;
  margin-bottom: var(--base-unit);
}
.edu_list .edutitle {
  color: var(--black);
}

.edu_list ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--base-unit) 24px;
}
.edu_item {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  gap: var(--body);
  width: 282px;
}
ul.edu_online .label {
  display: none;
}

.edu_item span.label {
  padding: 8px;
  border-radius: var(--border-r);
}

.edu_item span.gj_north {
  background: #3A24FF;
}
.edu_item span.gj_east {
  background: #3A24FF;

}
.edu_item span.su_hj {
  background: #1AC828;
}
.edu_item span.jj {
  background: #F09F27;
}
.edu_item span.mp {
  background: #3A24FF;
}

.edu_item > a {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.edu_item figure {
  position: relative;
  border-radius: var(--border-r);
  overflow: hidden;
}
.edu_item figure img {
  width: 100%;
}
.edu_item figure .label {
  position: absolute;
  left: 12px;
  top: 12px;
  color: var(--white);
}
.edu_text p {
  display: flex;
  gap: 8px;
}
.edu_text span {
  display: inline-flex;
}
.date_title {
  position: relative;
  color: var(--light-gray);
  padding-right: 8px;
}
.date_title:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -6px;
  width: 1px;
  height: 12px;
  background: var(--light-gray);
}
.date {
  color: var(--medium-gray);
}
/* special/benefit */
.special{
  background-color: var(--primary-BG);
}
.special .title{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 54px;
}
.special_list{
  display: flex;
  gap: 24px;
}
.special_list li{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   gap: 27px;
}
.special_list li .icon{
  background-color: var(--primary);
  width: 81px;
  height: 81px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.special_list .content h3 {
margin-bottom: 27px;
}
.special_list .content p {
  color: var(--medium-gray);
}
/* result */

.result {
  background: var(--primary);
}
.result .title {
  color: var(--white);
}

.result_list {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 0 80px;
  margin-top: var(--base-unit);
}
.result_item {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}
.result_item figure {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.result_item figure img {
  width: 82px;
}

/* banner */

.banner_bg{
  height: 135px;
  border-radius: 15px;
  padding: 7px 22px;
  background-image: linear-gradient(to bottom, #000d1f, #1e1125, #35111f, #401a10, #3b2a00);
  position: relative;
}
.banner_text h2{
  color: var(--white);
  margin-bottom: 0;
  padding-top: 33px;
}
.banner_text p{
  color: rgba(255, 255, 255, 0.7);
  margin-top: 6px;
}
.banner_img{
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 94px;
}
.banner_page{
  width: 40px;
  height: 30px;
  border-radius: 50%;
  background: #838383;
  color: var(--white);
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 22px;
  bottom: 6px;
}
.content_title{
  text-align: center;
}
.content_title p{
  color: var(--medium-gray);
}
.button{
  min-width: 180px;
  height: 54px;
  font-size: var(--h3);
  font-weight: 700;
  color: var(--primary);
  background: var(--white);
  border: 1px solid var(--primary);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 0 27px;
}
.star{
  padding: 0 auto;
  color:#FFD940;
}
.review_list{ 
  padding-top: var(--base-unit);
  margin-bottom: calc(var(--base-unit) * 2); 
}
.box_ft{
  padding: 0;
  width: 335px;
  height: 166px;
  float: left;
  display: flex;
  background-color: var(--white);
  margin-right: 25px;
  box-shadow: 0 0 2px var(--light-gray);
  border-radius: 15px;
  flex-direction: column;
  padding: 24px 24px 37px 24px;
}
.box_ft:nth-child(3){
  margin-right: 0;
}
.review_header{
  display: flex;
}
.writer{
  padding-left: 15px;
}
.circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-width: 0.1px;
  display: flex;
  background: var(--BG-gray);
}
.review .button{
  margin: 0 auto;
}


/* faq */

.qna_sec{
  padding-top: 0;
}
.qna h2{
  text-align: center;
  padding-bottom: calc(var(--base-unit) * 2); 
  margin: 0 auto;
}
.qna >h3{
  padding: 54px 0 0 0;
}
.faq li{
  border-bottom:1px solid var(--BG-gray);
}
.faq li > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.faq span{
  display: flex;
  align-items: center;
}
.faq .answer{
  display: none;
}
.faq .active .answer{
  display: block;
  background: var(--BG-gray);
}
.chat{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 24px;
  align-items: center;
  background: var(--primary-BG);
  border-radius: var(--border-r);
  margin-top: 24px;
}
.faq button{
  position: absolute;
  color: var(--dark-gray);
}

/* footer */
.footer_bg{
  background: var(--BG-gray);
}
.footer_bg div{
  padding-top: 81px;
}
footer div p{
  color: var(--medium-gray);
  font-size: var(--footer-text);
  padding-top: 16px;
}
.line{
  border-right: 1.5px solid var(--light-gray);
  font-weight: 700;
}
.footer_bg .copy{
  padding: 43px 0 24px 0;
}
.footer_ft{
  font-weight: 700;
  color: var(--dark-gray);
  padding-bottom: 81px;
}